/* contacto.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fedd73;
    min-height: 100vh;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
}

header {
    background-color: #102032;
    color: #fedd73;
    display: flex;
    align-items: center;
    padding: 3%;
}

.logo {
    max-width: 200px;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    /*margin: 0;*/
     /*padding: 0;
     display: flex;
     margin-left: auto;  Esto alinea los elementos hacia la derecha */
     /*padding: 1rem;*/
     display: flex;
     flex-direction: row;
    justify-content: space-between;
     width: 70rem;
     margin: 0 auto;
 }
 
 nav ul li {
     margin: 0 10px;
 }
 
 nav ul li a {
     color: #fedd73;
     text-decoration: none;
     font-size: 1.5rem;
 }

main {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 form{
    padding: 50px 55px ;
    background-color: #102032;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
 }
 .input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
 }
 h2{
    color: #fedd73;
    font-size: 35px;
 }
 label{
    color: #fedd73;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
 }
input, textarea{
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #ffff;
    border: 2px solid #fedd73;
    color: #102032;
    outline: none;
}

input::placeholder, textarea::placeholder{
    color: #102032;
}
.form-txt{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.form-txt a{
    color: #fedd73 ;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.btn {
    font-size: 16px;
    color: #102032;
    border: 0;
    border-radius: 25px;
    background-color: #fedd73;
    box-shadow: 0 0 20px rgba(240, 240, 20, 0.2);
    cursor: pointer;
}

.btn:hover{
    background-color: #f3c631;
}

@media (max-width: 991px) {
  

    form{
        padding: 50px 30px;
        width: 100%;
    }
    input{
        padding: 15px;
    }

}



