:root{
    --color-uno: #1B6F5E;
    --color-dos: #fedd73;
    --color-tres: #102032;
    --color-cuatro: #12443A;
    --blanco: #FFFFFF;
}

/*  Globales  */
html{
    font-size: 62.5%;
    box-sizing: border-box;/* hack para box model*/
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-size: 16px; /* 1rem = 10px*/
    font-family: 'krub', sans-serif;
    background-image: linear-gradient(to top,var(--color-cuatro) 0%,var(--color-tres) 100%);
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
.boton{/*como hacer un buen boton*/
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}
@media (min-width:480px ) {
    .boton{
        width: auto;
    }
}

.sombra-certi{
    -webkit-box-shadow: 0px, 5px,15px,0px rgba(0, 41, 0, 0.48);
    -moz-box-shadow: 0px, 5px,15px,0px rgba(0, 41, 0, 0.48);
    box-shadow: 0px 5px 15px 0px rgba(0, 41, 0, 0.48);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

/*  Tipografia  */
h1{
    font-size: 3.8rem;
    color: #fedd73;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3 {
    text-align: center;
}
/* titulos */
.titulo span{
    font-size: 2rem;
}

/* navegacion principal */
.nav-bg{
    background-color: var(--color-tres);
}
.navegacion-principal{
    display: flex;
    flex-direction: column;
      
}
/*telefono
@media (min-width: 480px) {
    .navegacion-principal{
        flex-direction: row;
    }
}*/
@media (min-width: 768px) {/*tablet*/
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}
/*laptop
@media (min-width: 1140px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}*/
.navegacion-principal a{
    display: block;
    text-align: center;
    color: var(--color-dos);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.navegacion-principal a:hover{
    background-color: var(--color-dos);
    color: var(--color-tres);
}



.icons {
    display: flex;
    align-items: center;
}

.icons img {
    width: 30px;
    height: 40px;
    margin-left: 15px;
    background-color: #1B0032;
    border-radius: 5px;
    padding: 7px;
}

.titulo {
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
}

.sliders-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.slider {
    width: 45%;
    overflow: hidden;
    border: 2px solid #fedd73;
    position: relative;
    margin-left: 30px;
}

.slider img {
    width: 70%;
    display: none;
    border-radius: 20px;
}

.slider img:first-child {
    display: block;
}

.catalogo {
    padding: 20px;
}

.catalogo h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-dos);
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.producto {
    background-color: var(--color-dos);
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 250px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.producto img {
    max-width: 100%;
    border-radius: 10px;
}

.producto h2 {
    font-size: 18px;
    margin: 10px 0;
    color: var(--color-tres);
}

.producto p {
    margin: 5px 0;
    color: var(--color-tres);
}

.producto button {
    background-color: var(--color-tres); /* Tono morado oscuro */
    color: var(--color-dos);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.producto button:hover {
    background-color: #12443A; /* Tono morado más claro */
    color: var(--color-dos);
}
